*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Circular Std', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Circular Std', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif; 
}


.navbar{
    background-color: #283345;
}

#intro {
    background-color: #283345;
    min-height: 400px; 
}

#intro img {
    max-width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0; 
}

p.lead {
    color: #6c757d; 
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #6c757d; 
    color: #6c757d; 
}

.btn-transparent:hover {
    background-color: #3871FF; 
    color: #fff; 
}



.card-title {
    color: #000; 
}
  
.card-text {
    color: #6c757d; 
}

.card-container {
    padding-left: 80px; 
    padding-right: 80px; 
}

  
.card {
    margin-bottom: 20px; 
}


.card .fas {
    font-size: 2.5em;
}

.card-title {
    font-size: 16px; 
}

.card-text {
    line-height: 1.6; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}


.card {
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
}

.card-body {
    flex-grow: 1; 
}


#services p {
    color: #B5A8A8;
}


#technologies {
    background-color: #3871FF;
    margin-top: -20px;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 1800px; 
    height: fit-content; 
}


#clients h3 {
    color: #B5A8A8;
}


#clients .row img {
    width: 120px; 
}


.text-white {
    color: white; 
}

.social-icons i {
    color: #B5A8A8; 
}


footer {
    background-color: #283345;
    color: white;
    padding: 40px 0;
}

footer h5 {
    color: #B5A8A8; 
}

footer p {
    color: #B5A8A8; 
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    font-size: 20px;
    margin-right: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}
  


.nav-link.active {
    background-color: #3871FF; 
    color: #fff;
    transition: background-color 0.3s ease; 
    border-radius: 5px;
}


.credits {
    font-size: 12px; 
    text-align: center; 
    font-style: italic; 
    margin-top: 18px; 
    
}

.credits a {
    color: inherit; 
    text-decoration: none; 
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.contact-icons {
    margin-left: 20px; /* Ajustar la distancia entre el texto y los iconos */
}
  
.contact-icons a {
    margin-left: 15px; /* Ajustar la distancia entre los iconos */
}
  
.contact-icons i {
    font-size: 20px; /* Tamaño de los iconos */
}
  

  

  
  