*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar{
    background-color: #283345;
}

#intro {
    background-color: #283345;
    min-height: 400px; /* Cambiar la altura mínima para que se ajuste mejor al contenido */
}

#intro img {
    max-width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0; /* Eliminar el margen derecho */
}


.card-title {
    color: #000; /* Cambiar el color del texto del h5 a negro */
}
  
.card-text {
    color: #6c757d; /* Cambiar el color del texto del p a un gris medio */
}

.card-container {
    padding-left: 80px; /* Agregar espacio al lado izquierdo */
    padding-right: 80px; /* Agregar espacio al lado derecho */
}

  
.card {
    margin-bottom: 20px; /* Añadir un margen inferior entre las tarjetas */
}


.card .fas {
    font-size: 2.5em;
}

.card-title {
    font-size: 16px; /* Ajustar el tamaño del título de la tarjeta */
}

.card-text {
    line-height: 1.6; /* Añadir más espacio entre líneas en el párrafo */
    margin-top: 10px; /* Añadir un poco de margen superior */
    margin-bottom: 10px; /* Añadir un poco de margen inferior */
}


.card {
    display: flex; /* Usar flexbox para alinear elementos */
    flex-direction: column; /* Colocar los elementos en columna */
    justify-content: space-between; /* Distribuir el espacio verticalmente */
    height: 100%; /* Ajustar la altura de la tarjeta */
}

.card-body {
    flex-grow: 1; /* Permitir que el cuerpo de la tarjeta crezca */
}



#technologies {
    background-color: #3871FF;
    margin-top: -20px; /* Eliminar el margen superior */
    padding-top: 100px; /* Aumentar el espacio superior */
    padding-bottom: 100px; /* Aumentar el espacio inferior */
    height: 1800px; /* Ajustar la altura mínima del contenedor */
    height: fit-content; /* Permitir que la altura se ajuste automáticamente */
}


#clients h3 {
    color: #B5A8A8;
}


#clients .row img {
    width: 100px; /* Ajustar el ancho de todos los logos */
}


.card {
    border: none; /* Eliminar el borde de las cards */
}

.card-text {
    text-align: left; /* Alinear el texto a la izquierda */
}

.phone-image {
    margin-left: 20px; /* Agregar margen a la izquierda para separar la imagen del texto */
}




  
  
  

  
  