*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar{
    background-color: #283345;
}

#intro {
    background-color: #283345;
    height: 1200px; 
}

#intro img {
    width: 100%;
    height: 600px;
    margin-left: 120px;
}
  
  
  